body {
    text-align: center;
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 2px;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-one, .line-two {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

.flash {
    background-color: white;
}

#startBtn {
    margin: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
